<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
</head>
<body>
    <h1>Artists</h1>
    <ul>
        {{range .}}
        <a href="/details?id={{.ArtistID}}">
            <h2>{{.ArtistName}}</h2>
            <img id="{{.ArtistID}}" src="{{.ArtistImage}}" alt="Artist Image" style="width:200px;">
            <p>Started: {{.CreationDate}}</p>
            <p>First Album: {{.FirstAlbum}}</p>
         </a>
        {{end}}
    </ul>
</body>
</html>
