<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Relations</title>
</head>
<body>
    <h1>Artist Concerts</h1>
    <ul>
        {{range .Index}}
        <li>
            <strong>Artist ID:</strong> {{.ArtistID}}<br>
            <strong>Concerts:</strong>
            <ul>
                {{range $date, $locations := .Locations}}
                <li>Date: {{$date}}<br>Locations:
                    <ul>
                        {{range $locations}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                </li>
                {{end}}
            </ul>
        </li>
        {{end}}
    </ul>
</body>
</html>
